* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0c0c0;
  font-family: "Courier New", Courier, monospace;
}

main {
  width: 70%;
  /* border: 2px solid red; */
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  background-color: rgb(119, 113, 79);
  box-shadow: 5px 0px 6px 6px red, 0px 6px 5px 5px red, 6px 5px 0px 0px red,
    6px 5px 5px 5px red;
}

summary {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 10vw;
  text-shadow: 3px 4px 0px red;
}

.winner {
  font-weight: 900;
  font-size: 20px;
  color: rgb(46, 42, 17);
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

form p:first-child {
  font-weight: 900;
  font-size: 20px;
}

input {
  width: 60%;
  text-align: center;
  height: 30px;
  background-color: grey;
}

input::placeholder {
  font-size: 12px;
  color: black;
}

form button {
  padding: 5px;
  border-radius: 8px;
  color: black;
  background-color: bisque;
  text-transform: uppercase;
  transition: 0.5s ease all;
}
form button:hover {
  background-color: rgb(170, 145, 117);
}

.output-con {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output-con p {
  width: 80px;
  border: 2px solid black;
}

.start {
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background-color: rgb(85, 80, 52);
  font-weight: 900;
}
.start:hover {
  color: rgb(85, 80, 52);
  background-color: black;
}

a {
  position: fixed;
  top: 20px;
  right: 20px;
}

img {
  display: none;
}
.winner-class {
  display: block;
  width: 200px;
  z-index: 20;
  position: absolute;
  bottom: 0;
  animation: moveFromBottomToTop 5s ease-in-out forwards;
  animation-iteration-count: infinite;
}
@keyframes moveFromBottomToTop {
  from {
    bottom: 30%;
  }
  to {
    bottom: 75%;
  }
}

@media screen and (min-width: 900px) {
  section {
    width: 90%;
    margin-inline: auto;
  }

  .winner {
    font-size: 30px;
  }
}

@media screen and (max-width: 680px) {
  main {
    width: 90%;
  }
}

/* ======= */
/* About Page CSS */
/* ======= */
.main-div {
  border: 2px solid wheat;
  width: 70%;
  padding: 40px 100px 40px;
}

li {
  margin-top: 20px;
  text-align: justify;
}

h3 {
  margin-top: 30px;
  text-align: justify;
}
